<footer>
  <div class="footer-top">
      <a class="header-brand" routerLink="/" aria-label="Ir a la página de inicio">
        <img class="logo-icon" src="/assets/icons/movie-logo.svg" alt="icon movie"> MovieAPP
      </a>
  </div>
  <nav class="footer-nav">
    <a routerLink="/" aria-label="Inicio" class="nav-link">Home</a>
    <a routerLink="/peliculas" aria-label="Películas" class="nav-link">Peliculas</a>
    <a routerLink="/series" aria-label="Series" class="nav-link">Series</a>
  </nav>
  <div class="footer-bottom">
      <span>© 2025 MovieAPP. All rights reserved.</span>
  </div>
</footer>
      
